/* The html and body elements cannot have any padding or margin. */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

body {
  float: none;
}

/*div#headline div {
  float:left;
}*/
div#title {
  margin-left: 10px;
}

div#demo_description {
  padding-bottom: 20px;
}

div#coherence_radio, div#descriptions {
  float: left;
}

div#coherences_config {
  min-height: 320px;
}

div#introduction, div#input_line {
  clear: both;
}

div#input_line {
  padding-bottom: 20px;
}

div.description {
  min-height: 132px;
}

label.radio_label {
  margin: 0px;
}

span.sub {
  vertical-align: sub;
  font-size: 11px;
}

span.math {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

div#alert-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
  /* had to add a padding to the bottom since the position of the footer doesn't seem to work as it should */
  padding-bottom: 40px;
}

/* Set the fixed height of the footer here */
#push, #footer {
  padding-top: 40px;
}

/* Set the fixed height of the footer here */
#footer {
  /* background-color: #f5f5f5; */
  background-color: #ffffff;
}

div#logos {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 60px;
}

/* Same height for footer logos */
div#logos > a > img {
  height: 60px;
  width: auto;
}

div#logos > a {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width : 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}